header {
    margin: 0;
    width: 100%;
}

.header-nav {
    background-color: #002646;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 9999;
}

.header-nav a {
    display: inline-block;
    padding: 20px;
    height: 100%;
    color: #e7ecef;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.introduction-link {
    margin-left: 80px;
}

.header-nav a:hover {
    cursor: pointer;
}

.header-nav__logo{
    float: right;
    margin-right: 100px;
    font-family: cursive;
    font-weight: bold;
    font-size: 1.5em;
}

.header-image {
    margin: 0;
    background-color: #264f73;
    position: relative;
    font-family: cursive;
    text-align: center;
    color: #e7ecef;
}

.header-image img {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 70%;
    opacity: 0.4;
}

.header-image__tx {
    position: absolute;/*絶対配置*/
    color: #e7ecef;
    font-weight: bold;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-30%,-50%);
    -webkit-transform: translate(-30%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    opacity: 0;
    animation: fadein 3s ease forwards;
}

@keyframes fadein {
    100% {opacity: 1;}
}

.tx1 {
    font-size: 5em;
}

.tx2 {
    animation-delay: 1s;
}

.tx3 {
    animation-delay: 2s;
}

.tx4 {
    animation-delay: 3s;
}

.tx5 {
    animation-delay: 4s;
}

.tx6 {
    font-size: 2em;
    animation-delay: 5s;
}

.tx7 {
    animation-delay: 6s;
}

.tx8 {
    animation-delay: 7s;
}


main {
    margin: 0;
    background-color: #264f73;
    width: 100%;
}

.container {
    background-color: #e7ecef;
    margin: 0 auto;
    width: 80%;
}


footer {
    margin: 0;
    background-color: #002646;
    height: 50px;
    width: 100%;
}

.contents-wrapper{
    padding: 20px;
}

.contents-wrapper p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contents-title {
    color:#122536;
    font-family: cursive;
    padding-left: 20px;
    border-bottom: medium solid #264f73;
}

.cheermovie {
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lyrics {
    padding-left: 10px;
}

.lyrics p {
    font-family: 'Courier New', Courier, monospace;
}

.orions h4{
    border-bottom: medium solid #eb0410;
}

.dragonz h4 {
    border-bottom: medium solid #0c08f7;
}

.giants h4 {
    border-bottom: medium solid rgb(255, 115, 0);
}

.fighters h4 {
    border-bottom: medium solid rgb(255, 145, 0);
}

.quote {
    padding: 30px;
    margin: 0 auto;
    text-align: center;
}

.quote h1 {
    opacity: 0.8;
    margin-bottom: 10px;
}