header {
    margin: 0;
    width: 100%;
}

.header-nav {
    background-color: #002646;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 9999;
}

.header-nav a {
    display: inline-block;
    padding: 20px;
    height: 100%;
    color: #e7ecef;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.introduction-link {
    margin-left: 80px;
}

.header-nav a:hover {
    cursor: pointer;
}

.header-nav__logo{
    float: right;
    margin-right: 100px;
    font-family: cursive;
    font-weight: bold;
    font-size: 1.5em;
}

.header-image {
    margin: 0;
    background-color: #264f73;
    position: relative;
    font-family: cursive;
    text-align: center;
    color: #e7ecef;
}

.header-image img {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 70%;
    opacity: 0.4;
}

.header-image__tx {
    position: absolute;/*絶対配置*/
    color: #e7ecef;
    font-weight: bold;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-30%,-50%);
    -webkit-transform: translate(-30%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    opacity: 0;
    animation: fadein 3s ease forwards;
}

@keyframes fadein {
    100% {opacity: 1;}
}

.tx1 {
    font-size: 5em;
}

.tx2 {
    animation-delay: 1s;
}

.tx3 {
    animation-delay: 2s;
}

.tx4 {
    animation-delay: 3s;
}

.tx5 {
    animation-delay: 4s;
}

.tx6 {
    font-size: 2em;
    animation-delay: 5s;
}

.tx7 {
    animation-delay: 6s;
}

.tx8 {
    animation-delay: 7s;
}


main {
    margin: 0;
    background-color: #264f73;
    width: 100%;
}

.container {
    background-color: #e7ecef;
    margin: 0 auto;
    width: 80%;
}

.contents-wrapper{
    padding: 20px;
}

.contents-wrapper > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 0.8em;
}

.contents-title {
    color:#122536;
    font-family: cursive;
    padding-left: 20px;
    border-bottom: medium solid #264f73;
}

.introduce {
    margin: 40px;
    display: flex;
    text-align: center;
}

.introduce-express {
    margin-left: 40px;
    font-size: 1.4em;
    opacity: 0.8;
}

.introduce img {
    width: 30%;
    height: 40%;
    border-radius: 80%;
}

.history {
    margin: 40px;
}

/* デフォルでスマホの幅にリストスタイルを設定する*/
.timeline {
    list-style: none;
  }
  .timeline > li {
    margin-bottom: 60px;
  }
  
  /* デスクトップ用とスマホ用の幅に対応させる */
  @media ( min-width : 640px ){
    .timeline > li {
      overflow: hidden;
      margin: 0;
      position: relative;
    }
    .timeline-date {
      width: 200px;
      float: left;
      margin-top: 20px;
    }
    .timeline-content {
      width: 75%;
      float: left;
      border-left: 3px #e5e5d1 solid;
      padding-left: 30px;
    }
    .timeline-content:before {
      content: '';
      width: 12px;
      height: 12px;
      background: #264f73;
      position: absolute;
      left: 195px;
      top: 24px;
      border-radius: 100%;
    }
  }

.timeline-title:hover {
    cursor: pointer;
}

@keyframes displayShow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes displayClose {
    0% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}


.timeline-sentense {
    display: none;
    animation: displayClose 0.8s;
    opacity: 0;
}

.show {
    display: block;
    animation: displayShow 0.8s;
    opacity: 1;
}

.quote {
    padding: 30px;
    margin: 0 auto;
    text-align: center;
}

.quote h1 {
    opacity: 0.8;
    margin-bottom: 10px;
}

.quote:hover {
    cursor: pointer;
    background-color: #002646;
    opacity: 0.8;
    border-radius: 10px;
    color: white;
    transition-duration: 1s;
}

.quote-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
    background-color:rgba(0,0,0,.8);
}

.quote-modal.is-show {
    opacity: 1;
    visibility: visible;
}

.modal-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    height: 400px;
    padding: 50px;
    background-color: #fff;
    z-index: 2;
    text-align: center;
    overflow: scroll;
}

.close-btn {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #002646;
    margin: 0 auto;
  }

  .close-btn a{
    text-decoration: none;
    font-size: 20px;
    color: #333;
  }

.black-mask {
    /* position: absolute;
    left: 0;
    top: 0; */
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
 }

.cheermovie {
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.lyrics {
    padding-left: 10px;
}

.lyrics p {
    font-family: 'Courier New', Courier, monospace;
}

.orions h4{
    border-bottom: medium solid #eb0410;
}

.dragonz h4 {
    border-bottom: medium solid #0c08f7;
}

.giants h4 {
    border-bottom: medium solid rgb(255, 115, 0);
}

.fighters h4 {
    border-bottom: medium solid rgb(255, 145, 0);
}

footer {
    margin: 0;
    background-color: #002646;
    height: 50px;
    width: 100%;
}
